node_modules
.next
.next/cache
.next/static
dist
build
packages/*/dist/**
apps/*/.next/**
apps/*/dist/**
coverage
.turbo
pnpm-lock.yaml
package-lock.json
yarn.lock
.vercel
.env
.env.local
.env.*.local
.DS_Store
.vscode
.idea
/.cache
apps/*/.output/**
packages/*/.output/**
.turbo/
apps/*/.turbo/**
packages/*/.turbo/**
